html {
	font-size: 10px; /* base font is now 10px big */
	font-family: "Open Sans", sans-serif; /* this specifies the font family */
}

a[href="https://www.eloramilan.com"] {	/* element[attribute] */
	color: blue;
}

body {
	width: 700px;
	margin: 0 auto;
	/*background-color: #FF9500; */
	padding: 0 40px 40px 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 20px 20px rgba(0,0,0,0.23);
}

#main-header {	/* #element-id */ 
	font-size: 60px;
	font-family: monospace;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	color: cyan;
	/*background-color: rgba(45, 45, 45, 0.1);*/
	/*text-shadow: 3px 3px 1px gray;*/
}

ul[class="navbar-ul"] {
	list-style-type: none;
	margin: 0 140px 0 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEE;
	position: relative;
	left: 80px;
	
}

.navbar-li {
	float: left;
	margin: 5px 30px;
}

li a {
	display: block;
	color: gray;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 14px;
}

li a:hover {
	background-color: #333;
	color: #EEE;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

#goal-list {
	list-style-type: circle;
	list-style-position: inside;
	font-size: 14px;
}
img {
	display: block;
	margin: 0 auto;
	width: 300px;
}

.p-headings {	/* .class */
	color: orange;
}
input {  /* doesn't work */
	font-size: 14px;
}
