html {
	font-size: 10px; /* base font is now 10px big */
	font-family: "Open Sans", sans-serif; /* this specifies the font family */
}

a[href="https://www.eloramilan.com"] {	/* element[attribute] */
	color: blue;
}

body {
	width: 1000px;
	margin: 0 auto;
	padding: 0 40px 40px 40px;
	/*background: linear-gradient(45deg, #CFF, #FCC);*/
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 20px 20px rgba(0,0,0,0.23);
}

hr {
	color: #EEE;
}

#main-header {	/* #element-id */ 
	font-size: 40px;
	font-family: 'Crete Round', serif;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	color: #F03710;
	/*background-color: rgba(45, 45, 45, 0.1);*/
	/*text-shadow: 3px 3px 1px gray;*/
}

#test-image1 {
	transform: skewX(25deg);
}

ul[class="navbar-ul"] {
	list-style-type: none;
	margin: 10px 140px 0 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #F6F6F6;*/
	border-radius: 10px;
	position: relative;
	left: 80px;
	
}

.navbar-li {
	float: left;
	margin: 5px 75px;
}

li a {
	display: block;
	color: gray;
	padding: 5px 14px;
	text-decoration: none;
	font-size: 12px;
}

li a:hover {
	background-color: #333;
	color: #EEE;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

#goal-list {
	list-style-type: circle;
	list-style-position: inside;
	font-size: 14px;
}


div {
	border-radius: 20px;
	width: 70%;
	height: 400px;
	margin: 50px auto;
	background: linear-gradient(45deg, #CFF, #FCC);
}
img {
	display: block;
	margin: 0 auto;
	width: 300px;
}

.p-headings {	/* .class */
	color: orange;
}
input {  /* doesn't work */
	font-size: 14px;
}
